/*
Keep the values consistent with the file breakpoints.config.ts
*/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin breakpoint-sm {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}

@mixin breakpoint-md {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        @content;
    }
}
@mixin breakpoint-lg {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        @content;
    }
}
@mixin breakpoint-xl {
    @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
        @content;
    }
}

@mixin breakpoint-max-md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}
@mixin breakpoint-max-lg {
    @media (max-width: $breakpoint-lg) {
        @content;
    }
}
@mixin breakpoint-max-xl {
    @media (max-width: $breakpoint-xl) {
        @content;
    }
}
